<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Contact &mdash; {{{page.titlesuffix}}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Contacter les étudiants du CMI Informatique de Besançon organisateur de la R&Day 2020 Sécurité Informatique">

  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.min.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/all.min.css">
  <link rel="icon" href="favicon.ico" />

</head>

<body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <!-- Header -->
    <header class="site-navbar py-3">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-11 col-xl-2">
            <h1 class="mb-0"><a href="index.html" class="text-white h2 mb-0">{{{page.h1.1}}}<span class="text-primary">{{{page.h1.2}}}</span></a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right">
              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li><a href="{{{navigation.index.href}}}">{{{navigation.index.label}}}</a></li>
                <li><a href="{{{navigation.activities.href}}}">{{{navigation.activities.label}}}</a></li>
                <li><a href="{{{navigation.about.href}}}">{{{navigation.about.label}}}</a></li>
                <li><a href="{{{navigation.inscription.href}}}">{{{navigation.inscription.label}}}</a></li>
                <li class="cta"><a href="{{{navigation.contact.href}}}">{{{navigation.contact.label}}}</a></li>
              </ul>
            </nav>
          </div>
          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
        </div>
      </div>
    </header>

    <div class="site-navbar py-3" style="background-color:red;text-align:center;font-size:2em; top: 95px;">
      Évènement reporté pour cause de fermeture de l'Université — plus d'informations ultérieurement
    </div>

    <!-- Title -->
    <div class="site-section site-hero inner">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-10">
            <span class="d-block mb-3 caption" data-aos="fade-up">Discutons</span>
            <h1 class="d-block mb-4" data-aos="fade-up" data-aos-delay="100">Contactez-nous</h1>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact -->
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6" data-aos="fade-up" style="margin-top: 8rem;">

            <div class="row">
              <div class="col-md-4" data-aos="fade-up" data-aos-delay="300"><span class="text-primary">Formulaire de contact</span></div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="350">
                <p>Nous serons heureux de revenir vers vous dans les plus brefs délais.</p>
              </div>
            </div>

            <form name="signup-form" id="signup-form" enctype="text/plain" action="https://docs.google.com/forms/d/e/1FAIpQLSeVqx_yfg2RZ9vO0MeZtQD3jMnOTAQ5WG4A78M29tuX75Zk7A/formResponse?" target="hidden_iframe" onsubmit="showValidation();">
              <div id="form-validation" style="display:none">&#10004; Votre message a bien été envoyé ! </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="" for="email">Nom</label>
                  <input class="form-control" type="text" name="entry.1914085011" id="entry.1914085011" required>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="" for="email">Adresse mail</label>
                  <input class="form-control" type="email" name="entry.439569742" id="entry.439569742" required>
                </div>
              </div>

              <!-- <div class="row form-group">
                <div class="col-md-12">
                  <label class="" for="subject">Subject</label>
                  <input type="subject" id="subject" class="form-control">
                </div>
              </div> -->

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="" for="message">Message</label>
                  <textarea cols="30" rows="10" class="form-control" name="entry.627023577" id="entry.627023577" required></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Envoyez votre message" class="btn btn-primary py-2 px-4 text-white">
                </div>
              </div>
            </form>
          </div>

          <script type="text/javascript">
            var submitted = false;
          </script>
          <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>
          <script type="text/javascript">
            showValidation = function() {
              document.getElementById('form-validation').style.display = "block"
            }
          </script>



          <div id="adresse" class="col-md-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="p-4 mb-3">
              <p class="mb-0 font-weight-bold text-secondary text-uppercase mb-3">Adresse</p>
              <p class="mb-4">
                Bâtiment Propédeutique
                <br>UFR Sciences et Techniques
                <br>Université de Franche-Comté
                <br>16 Route de Gray
                <br>25000 Besançon
                <br>France
              </p>

              <p class="mb-0 font-weight-bold text-secondary text-uppercase mb-3">{{{footer.socialNetworks.label}}}</p>
              <p class="mb-4"><a href="{{footer.socialNetworks.facebookLink}}" class="p-2 pl-0"><span class="icon-facebook"></span> Facebook</a></p>
              <p class="mb-4"><a href="{{footer.socialNetworks.twitterLink}}" class="p-2"><span class="icon-twitter"></span> Twitter</a></p>

              <p class="mb-0 font-weight-bold text-secondary text-uppercase mb-3">Adresse mail</p>
              <p class="mb-0"><a href="mailto:contact@rnday-besancon.fr">contact@rnday-besancon.fr</a></p>
            </div>
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
              src="https://www.openstreetmap.org/export/embed.html?bbox=5.98343700170517%2C47.24464741892296%2C5.986977517604829%2C47.246328054784975&amp;layer=mapnik&amp;marker=47.245487743519135%2C5.985207259654999"
              style="border: 1px solid black"></iframe><br /><small><a href="https://www.openstreetmap.org/?mlat=47.24549&amp;mlon=5.98521#map=19/47.24549/5.98521">Afficher une carte plus grande</a></small>
          </div>
        </div>
      </div>
    </div>

    <!-- Testimonials -->
    <!-- <div class="site-section" data-aos="fade">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-4 mb-5">
            <div class="site-section-heading">
              <h2 class="text-center">Testimonials</h2>
            </div>
          </div>
        </div>

        <div class="slide-one-item home-slider owl-carousel">

          <div class="row justify-content-center">

            <div class="testimony text-center col-md-5">
              <figure>
                <img src="images/person_1.jpg" alt="Image" class="img-fluid">
              </figure>
              <blockquote>
                <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime exercitationem alias reprehenderit error quidem aliquam ad minus, veritatis modi.&rdquo;</p>
                <p class="author">&mdash; Emely Peters</p>
              </blockquote>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="testimony text-center col-md-5">
              <figure>
                <img src="images/person_2.jpg" alt="Image" class="img-fluid">
              </figure>
              <blockquote>
                <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime exercitationem alias reprehenderit error quidem aliquam ad minus, veritatis modi.&rdquo;</p>
                <p class="author">&mdash; Alex Anchors</p>
              </blockquote>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="testimony text-center col-md-5">
              <figure>
                <img src="images/person_3.jpg" alt="Image" class="img-fluid">
              </figure>
              <blockquote>
                <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime exercitationem alias reprehenderit error quidem aliquam ad minus, veritatis modi.&rdquo;</p>
                <p class="author">&mdash; Aaron Thomas</p>
              </blockquote>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="testimony text-center col-md-5">
              <figure>
                <img src="images/person_1.jpg" alt="Image" class="img-fluid">
              </figure>
              <blockquote>
                <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime exercitationem alias reprehenderit error quidem aliquam ad minus, veritatis modi.&rdquo;</p>
                <p class="author">&mdash; Emely Peters</p>
              </blockquote>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="testimony text-center col-md-5">
              <figure>
                <img src="images/person_2.jpg" alt="Image" class="img-fluid">
              </figure>
              <blockquote>
                <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime exercitationem alias reprehenderit error quidem aliquam ad minus, veritatis modi.&rdquo;</p>
                <p class="author">&mdash; Alex Anchors</p>
              </blockquote>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="testimony text-center col-md-5">
              <figure>
                <img src="images/person_3.jpg" alt="Image" class="img-fluid">
              </figure>
              <blockquote>
                <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime exercitationem alias reprehenderit error quidem aliquam ad minus, veritatis modi.&rdquo;</p>
                <p class="author">&mdash; Aaron Thomas</p>
              </blockquote>
            </div>
          </div>

        </div>





      </div>
    </div> -->

    <!-- Footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <h2 class="footer-heading text-uppercase mb-4">{{{footer.aboutEvent.label}}}</h2>
            <p>{{{footer.aboutEvent.text}}}</p>
          </div>
          <div class="col-md-3 ml-auto">
            <h2 class="footer-heading text-uppercase mb-4">{{{footer.quicklinksLabel}}}</h2>
            <ul class="list-unstyled">
              <li><a href="{{{navigation.index.href}}}">{{{navigation.index.label}}}</a></li>
              <li><a href="{{{navigation.activities.href}}}">{{{navigation.activities.label}}}</a></li>
              <li><a href="{{{navigation.about.href}}}">{{{navigation.about.label}}}</a></li>
              <li><a href="{{{navigation.inscription.href}}}">{{{navigation.inscription.label}}}</a></li>
              <li><a href="{{{navigation.contact.href}}}">{{{navigation.contact.label}}}</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h2 class="footer-heading text-uppercase mb-4">{{{footer.socialNetworks.label}}}</h2>
            <p>
              <a href="{{footer.socialNetworks.facebookLink}}" class="p-2 pl-0"><span class="icon-facebook"></span></a>
              <a href="{{footer.socialNetworks.twitterLink}}" class="p-2"><span class="icon-twitter"></span></a>
            </p>
          </div>
        </div>
        <div class="row">

          <div class="col-md-12 text-center">
            <div class="border-top pt-5">
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                {{{footer.credit}}}
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
              <p>
                {{{footer.signature}}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>

</body>

</html>
